Project Requirements
This project will be of your own design and development. You may not consult nor work with any other 
individual nor group on the project. The content and subject comes from your topic proposal, and the 
site should be complete without any placeholders. The images and brief verbiage may be referenced from 
other sources, and you will need to cite these sources on a separate page. Link this reference page 
(which does not need to be styled) in the footer of your website.