body {
  text-align: center;
}

h1,h2 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Google Sans Flex", sans-serif;;
}

div {
  padding: 10px;
}

.box-1 {
  background: #065f46;
  color: white;
}

.box-2 {
  background: #06b6d4;
}